<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggerSection" type="AweSamNet.Common.Logging.LoggerConfigSection,AweSamNet.Common.Logging,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="serilog:write-to:RollingFile.pathFormat" value="D:\Logs\AweSamNet.Common-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
  <LoggerSection>
    <loggerCollection>
      <add enabled="True" fullName="AweSamNet.Common.Logging.NLogProvider" assebly="AweSamNet.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <add enabled="True" fullName="AweSamNet.Common.Logging.SerilogProvider" assebly="AweSamNet.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </loggerCollection>
  </LoggerSection>
</configuration>