<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggerSection" type="AweSamNet.Common.Logging.LoggerConfigSection,AweSamNet.Common,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="appName" value="AweSamNet.Common"/>
    <add key="environment" value="Local"/>
    <add key="serilog:minimum-level" value="Information" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="D:\Logs\AweSamNet.Common\AweSamNet.Common-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} level={Level} appName={app} environment={env} version={version} machine={MachineName} thread={ThreadId} {errorContext} {context} {Message}{NewLine}{Exception}" />
  </appSettings>
  <LoggerSection>
    <loggerCollection>
      <add enabled="True" fullName="AweSamNet.Common.Logging.Providers.NLogProvider" assembly="AweSamNet.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <add enabled="True" fullName="AweSamNet.Common.Logging.Providers.SerilogProvider" assembly="AweSamNet.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </loggerCollection>
  </LoggerSection>
</configuration>