<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="LoggerSection" type="AweSamNet.Common.Logging.LoggerConfigSection,AweSamNet.Common.Logging,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
  </configSections>
  <appSettings>
  </appSettings>
  <LoggerSection>
    <loggerCollection>
      <add fullName="AweSamNet.Common.Logging.NLog" assebly="AweSamNet.Common.Logging"/>
    </loggerCollection>
  </LoggerSection>
</configuration>